<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Crops</title>
    
</head>

<body style="background-image:url('static/img/tomasz-filipek-joOVC9d-jis-unsplash.jpg')">
    <h1 style="text-align:center;padding-top:70px;margin-left:60px;font-size: 70px">Crops we are Predicting</h1>
    <div class="row mt-5" style=" padding-left:100px;padding-top:70px;margin-left:60px">

         <div class="card col-sm-4" style="width: 18rem; height:35rem">
            <h4 style="text-align:center;padding-top:5px">Rice</h4>
            <img src="static/img/rice007a.jpeg" class="card-img-top" alt="" style="height:200px;width:265px;margin-top:5px">
            <div class="card-body">
                <p class="card-text">Rice, (Oryza sativa), edible starchy cereal grain and the grass plant (family Poaceae) by which it is produced. ... Roughly one-half of the world population, including virtually all of East and Southeast Asia, is wholly dependent upon rice as a staple food; 95 percent of the world's rice crop is eaten by humans.</p>
            </div>
        </div>
        <div class="card col-sm-4" style="width: 18rem;margin-left:20px;height:35rem">
            <h4 style="text-align:center;padding-top:5px">Jute</h4>
            <img src="static/img/jute001a.jpeg" class="card-img-top" alt="..." style="height:200px;width:265px;margin-top:5px">
            <div class="card-body">
                <p class="card-text">"Jute" is the name of the plant or fiber used to make burlap, hessian or gunny cloth. Jute is one of the most affordable natural fibers, and second only to cotton in the amount produced and variety of uses. Jute fibers are composed primarily of the plant materials cellulose and lignin.</p>
            </div>
        </div>
        <div class="card col-sm-4" style="width: 18rem;margin-left:20px;height:35rem">
            <h4 style="text-align:center;padding-top:5px">Maize</h4>
            <img src="static/img/maize001a.jpeg" class="card-img-top" alt="..." style="height:200px;width:265px;margin-top:5px">
            <div class="card-body">
                <p class="card-text">Maize is a leafy stalk whose kernels have seeds inside. It is an angiosperm, which means that its seeds are enclosed inside a fruit or shell. It is has long been a staple food by many people in Mexico, Central and South America and parts of Africa.</p>
            </div>
        </div>
        <div class="card col-sm-4 ml-2" style="width: 18rem;height:35rem;margin-left:20px">
            <h4 style="text-align:center;padding-top:5px">Sugarcane</h4>
            <img src="static/img/sugarcane0004a.jpeg" class="card-img-top" alt="..." style="height:200px;width:265px;margin-top:5px">
            <div class="card-body">
                <p class="card-text">Sugarcane, (Saccharum officinarum), perennial grass of the family Poaceae, primarily cultivated for its juice from which sugar is processed. Most of the world’s sugarcane is grown in subtropical and tropical areas. The plant is also grown for biofuel production, especially in Brazil, as the canes can be used directly to produce ethyl alcohol (ethanol).</p>
            </div>
        </div>
        <div class="card col-sm-4 ml-2" style="width: 18rem;height:35rem;margin-left:20px">
            <h4 style="text-align:center;padding-top:5px">Wheat</h4>
            <img src="static/img/wheat003.jpeg" class="card-img-top" alt="..." style="height:200px;width:265px;margin-top:5px">
            <div class="card-body">
                <p class="card-text">Wheat is the main cereal crop in India.Indian wheat is largely a soft/medium hard, medium protein, white bread wheat, somewhat similar to U.S. hard white wheat. Wheat grown in central and western India is typically hard, with high protein and high gluten content.</p>
            </div>
        </div> 
        
      

</div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        </script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->
</body>

</html>